.App {
  text-align: center;
}

.left-col {
  background-color: red;
}

.right-col {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .row, .left-col, .right-col {
    height: 100vh;
  }
}